*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #353333;
  font-family: 'Montserrat', sans-serif;
}
h1{
  text-align: center;
  color: white;
}
#fillings{
  height: 50vw;
  background-color: white;
  float: left;
}
img{
  width: 100%;
  margin-top: 10px;
}
#burgerPlate{
  height: 50vw;
  background-color: white;
  float: right;
  position: relative;
}

#burgerPrice{
  position: absolute;
  bottom: 0;
}
